.catalog-promo {
  margin-top: 20px;
  height: 160px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68bd45+0,c8da05+100 */
  background: rgb(104,189,69); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(104,189,69,1) 0%, rgba(200,218,5,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(104,189,69,1) 0%,rgba(200,218,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(104,189,69,1) 0%,rgba(200,218,5,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68bd45', endColorstr='#c8da05',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin-bottom: 10px;
}
.btn-gethelp {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  padding-right: 35px;
  background: url(../images/btn-pcatalog-promo.png) right no-repeat;
  color: #ffffff;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;

}
.btn-gethelp span {
  display: block;
  height: 100px;
  border: 4px solid #ffffff;
  border-right: none;
  padding: 22px 26px 0 26px;
  margin: 0;
}
.catalog-promo-box>img {
  display: inline-block;
  margin: 35px 30px 0 35px;
}
.catalog-promo-box>span {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 46px;
}

.catalog-list {
  padding: 0 20px;
}
.catalog-row {
  background-color: #F9F9F9;
}
.catalog-row:not(.last) {
  border-bottom: 1px solid $light;
}
.catalog-list__item {
  display: block;
  background-color: $white;
  height: 300px;
  padding-top: 80px;
  text-decoration: none;
  color: $dark;
}
.subcatalog-list .catalog-list__item {

}
.catalog-list__item:not(.last) {
  border-right: 1px solid $light;
}
.subcatalog-list .catalog-list__item {
  padding-top: 30px;
}
.catalog-list__item-icon {
  margin-bottom: 40px;
}
.subcatalog-list .catalog-list__item-icon {
  margin-bottom: 20px;
}
.subcatalog-list .catalog-list__item-icon img {

}
.catalog-list__item-icon img {
  width: 70px;
}
.subcatalog-list .catalog-list__item-icon img {
  width: 150px;
}
.catalog-list__item-label {
  font-family: $font-medium;
  font-size: 20px;
}
.catalog-list__item.item-special {
  background-color: $black;
  overflow: hidden;
  padding: 0;
}
.catalog-list__item-special {
  position: relative;
  left: -15px;
  width: 300px;
  height: 300px;
  background-color: $yellow;
  text-align: center;
  color: $black;
  border-radius: 50%;
  font-family: $font-bold-cond;
  font-size: 30px;
  line-height: 40px;
  padding-top: 100px;
}
.catalog-nav {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.catalog-nav__item {
  margin-bottom: 10px;
}
.catalog-nav__link {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  background-color: $white;
  color: $dark;
  font-size: 36px;
  line-height: 80px;
  text-decoration: none;
  padding: 0 80px 0 30px;
}
.catalog-nav__link:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  content: '';
  background-image: url(../images/icon-next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 37px;
}

/* Items list */
.category-list {
 padding: 0 15px;
}
.category-list .col-1-4 {
  padding: 0 5px;
}
.category-item {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.category-item__link {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #444444;
}
.category-item__lbl {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $yellow;
  font-family: $font-bold-cond;
  color: $red;
  line-height: 26px;
  padding: 0 20px;
}
.category-item__img {
  text-align: center;
  margin-bottom: 5px;
}
.category-item__img img {
  max-height: 130px;
}
.category-item__title {
  font-family: $font-bold;
  font-size: 13px;
  line-height: 16px;
  height: 48px;
  max-height: 48px;
  overflow: hidden;
}
.category-item__info {
  margin-bottom: 5px;
}
.category-item__sku {
  font-size: 11px;
  line-height: 13px;
}
.category-item__sku span {
  font-size: 13px;
}
.category-item__price {
  font-size: 18px;
  font-family: $font-bold;
  line-height: 18px;
}
.category-item__price span {
  font-size: 13px;
  font-family: $font-regular;
}
.category-item__ratio {
  float: right;
  width: 65px;
  height: 13px;
  background-image: url(../images/stars.png);
  background-size: 65px 65px;
}
.category-item__ratio.ratio-1 {
  background-position: 0 0;
}
.category-item__ratio.ratio-2 {
  background-position: 0 -13px;
}
.category-item__ratio.ratio-3 {
  background-position: 0 -26px;
}
.category-item__ratio.ratio-4 {
  background-position: 0 -39px;
}
.category-item__ratio.ratio-5 {
  background-position: 0 -52px;
}
.category-item__footer {
  border-top: 1px solid $light;
  padding: 10px 0;
  text-align: center;
}
.category-item__map,
.category-item__compare,
.category-item__wishlist {
  text-decoration: none;
  color: $green;
  font-size: 13px;
}
.category-item__map img,
.category-item__compare img,
.category-item__wishlist img {
  height: 24px;
  vertical-align: top;
}
.category-item__wishlist {
  padding-right: 10px;
}
.category-item__wishlist span {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  margin-left: 10px;
}
.sort-row {
  padding: 10px 15px;
}
.sort-search,
.sort-filters {
  padding: 0 5px;
}