@font-face {
  font-family:'HelveticaNeueLT W1G 55 Roman';
  src: url('../fonts/HelveticaNeueLTW1G-Roman.eot');
  src: url('../fonts/HelveticaNeueLTW1G-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTW1G-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTW1G-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW1G-Roman.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTW1G-Roman.svg#HelveticaNeueLTW1G-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeueLT W1G 75 Bd';
  src: url('../fonts/HelveticaNeueLTW1G-Bd.eot');
  src: url('../fonts/HelveticaNeueLTW1G-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTW1G-Bd.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTW1G-Bd.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW1G-Bd.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTW1G-Bd.svg#HelveticaNeueLTW1G-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeueLT W1G 65 Md';
  src: url('../fonts/HelveticaNeueLTW1G-Md.eot');
  src: url('../fonts/HelveticaNeueLTW1G-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTW1G-Md.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTW1G-Md.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW1G-Md.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTW1G-Md.svg#HelveticaNeueLTW1G-Md') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'G';
  src: url('../fonts/HelveticaNeueLTW1G-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTW1G-BdCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTW1G-BdCn.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTW1G-BdCn.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW1G-BdCn.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTW1G-BdCn.svg#HelveticaNeueLTW1G-BdCn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}