@import "_variables";
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: $green;
  z-index: 10;
}
.footer-container {
  max-width: 1080px;
  margin: 0 auto;
}
.footer-tools {
  float: left;
  width: 38%;
  height: 160px;
  background-color: $green-dark;
}
.footer-index .footer-tools {
  float: none;
  margin: 0 auto;
}
.footer-tools-item {
  float: left;
  width: 50%;
  text-align: center;
}
.footer-tools-link {
  display: block;
  height: 160px;
  padding: 30px 25px 0;
}
.footer-tools-img {
  height: 60px;
  margin-bottom: 6px;
}
.footer-tools-lbl {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.footer-tools-item.item-compare span {
  line-height: 44px;
}
.no-active .footer-tools-lbl {
  color: #3E7925;
}
.footer-nav {
  float: left;
  width: 38%;
  height: 160px;
  text-align: center;
  padding-top: 48px;
}
.footer-nav a {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.btn-back {
  width: 230px;
  height: 64px;
  background: url(../images/icon-back.png);
  line-height: 64px;
  color: $white;
  text-decoration: none;
  font-family: $font-medium;
  font-size: 20px;
}
.btn-menu {

}
.footer-shutdown {
  text-align: center;
  float: right;
  width: 24%;
  height: 160px;
}
.btn-shutdown {
  display: block;
  height: 160px;
  text-align: center;
  background-color: $green-darker;
  padding-top: 50px;
}
.btn-shutdown span {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  text-decoration: none;
}
.btn-shutdown span.img {
  margin-right: 15px;
}
.btn-shutdown span.lbl {
  text-align: left;
  font-size: 15px;
}
.fixed-feedback {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
.fixed-feedback__bg {
  width: 180px;
  height: 180px;
  background-image: url(../images/bg-wrote.png);
  background-size: 180px;
  color: #ffffff;
  text-align: center;
  font-family: $font-medium;
  font-size: 18px;
  padding: 88px 0 0 55px;

}

/* Footer nav */
.footer-popup {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 160px;
  background-color: #D8D8D8;
  padding: 40px 20px;
}
.footer-popup .index-menu {
  padding-top: 15px;
  border-top: 1px dashed #C2C2C2;
  margin-top: 10px;
}
.footer-popup ul.index-menu-list {
  margin: 0 -20px;
}
.item-current {
  display: inline-block;
  font-family: $font-medium;
  font-size: 24px;
  line-height: 30px;
  color: $dark;
  padding: 15px 0;
}
ul.footer-breadcrumbs.clean {
  display: block;
  padding-right: 70px;
}
.footer-breadcrumbs li {
  float: left;
  margin-right: 10px;
}
.footer-breadcrumbs li a {
  display: block;
  background-color: #ffffff;
  color: $green;
  border-radius: 3px;
  text-decoration: none;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
}
.footer-breadcrumbs li.item-home a {
  padding: 15px 10px;
}
.footer-breadcrumbs li.item-home img {
  height: 30px;
  display: block;
}
.footer-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.footer-popup__close {
  position: absolute;
  left: 0;
  bottom: -160px;
  width: 100%;
  height: 160px;
  background-color: #999;
}
.btn-close-footer {
  display: inline-block;
  width: 410px;
  height: 160px;
  background-color: $green;
  color: #ffffff;
  padding: 50px 0 0 120px;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 26px;
}
.btn-close-footer img {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
.btn-close-footer span {
  float: left;
}

/* Page popup */
.page-popup {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 160px;
  background-color: #ffffff;
  color: $dark;
}
.popup-feedback {
  height: 1760px;
}
.page-popup-box {
  padding: 70px 135px 30px;
}
.client-support-grey {
  margin: 0 -135px 100px -135px;
  padding: 35px 135px;
  background-color: $light;
  font-size: 18px;
  line-height: 24px;
}
.page-popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 36px;
  height: 36px;
}
.page-popup__close img {
  display: block;
}
.page-popup h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 40px;
}
.page-popup__bottom {
  position: absolute;
  left: 0;
  bottom: -160px;
  width: 76%;
  height: 160px;
  background-color: $green;
}
.page-popup__bottom-close {
  padding: 40px 0;
  text-align: center;
}
.page-popup__bottom-close-btn {
  display: inline-block;
  background-color: #ffffff;
  color: #4A4A4A;
  text-align: center;
  width: 370px;
  height: 80px;
  line-height: 80px;
}
.page-popup__bottom-close-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.page-popup__bottom-close-btn span {
  display: inline-block;
  vertical-align: middle;
  font-family: $font-bold;
  font-size: 18px;
}
.name-row {
 margin: 0 -10px 20px -10px;
}
.name-row .col-1-3 {
  padding: 0 10px;
}
.name-row label {
  display: block;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}
.feedback-form-inputbox {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  color: $dark;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
}
.name-desc {
  text-align: center;
  font-style: italic;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.client-feedback-form .form-row {
  border-top: 1px dashed #e1e1e1;
  padding: 12px 0;
}
.client-feedback-form .form-row>label {
  float: left;
  width: 155px;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 40px;
}
.client-feedback-form .form-row>label.double {
  line-height: 20px;
}
.client-feedback-form .form-row .feedback-form-inputbox {
  width: 500px;
}
.feedback-form-textarea {
  width: 500px;
  border: 1px solid #eeeeee;
  resize: vertical;
  padding: 12px 20px;
  font-size: 14px;
  color: $dark;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  height: 200px;
}
.client-feedback-form .form-row.submit-row {
  border-top: 2px solid $green;
  padding-top: 38px;
}
.feedback-form-submit {
  width: 550px;
  height: 80px;
  text-align: center;
  padding: 0;
  border: none;
  background-color: $green;
  color: #ffffff;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 80px;
  margin: 0 0 28px 130px;
}
.required-fields {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 20px;
}
.required-fields span {
  color: $green;
  font-size: 36px;
  vertical-align: middle;
}
.feedback-form-select {
  width: 500px;
  float: left;
}
.select2-container .select2-selection--single {
  width: 100%;
  height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding: 0 20px;
  color: #4A4A4A;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $green;
  color: #ffffff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/icon-dropdown.png);
  background-repeat: no-repeat;
  width: 11px;
  height: 15px;
  top: 13px;
  right: 12px;
}
.iagree-row {
  margin-left: 155px;
  width: 500px;
  padding: 10px 0;
}

/* Checkboxes */
.checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.checkbox:checked + label:after {
  opacity: 1;
}
.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}