@import "_variables";
.index-header {
  padding-top: 230px;
  margin-bottom: 130px;
  text-align: center;
}
.inner-header {
  position: relative;
  padding: 30px 30px 0;
  height: 360px;
  background-color: $white;
  background-image: url(../images/bg-inner.png);
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
}
.inner-logo {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
}
.inner-title {

}
.inner-title h1 {
  font-family: $font-regular;
  font-weight: normal;
  font-size: 72px;
}
.inner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: initial;
}
.inner-bg.category-bg {
  background-position: right 40px top 40px;
}