.item-header {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}
.app-wrap.layout-item {
  background-color: $light;
}
.layout-item .page-content {

}
.item-top {
  padding-top: 80px;
  background-color: $white;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 70px;
}
.item-image {
  text-align: center;
}
a.item-thumb {
  position: relative;
  display: inline-block;
}
a.item-thumb:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  width: 34px;
  height: 35px;
  background-image: url(../images/icon-zoom.png);
  background-size: 34px 35px;
}
a.item-thumb img {
  max-height: 523px;
}
.item-images__prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-left: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer;
}
.item-images__next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-right: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer;
}
.item-images__prev:active,
.item-images__next:active {
  background-color: $green;
}
.item-images__prev:active img,
.item-images__next:active img {
  filter: brightness(0) invert(1);
}
.item-bottom {
  padding: 0 20px;
}
.panel-collapse.collapse {
  display: none;
}
.panel-collapse.collapse.in {
  display: block;
}
.panel-collapse.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none !important;
  height: 0 !important;
}
#item-panels .panel {
  margin-bottom: 10px;
}
#item-panels .panel-heading {

}
#item-panels .panel-heading h4 {
  margin: 0;
}
#item-panels .panel-heading h4 a {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: $font-bold;
  font-size: 24px;
  text-decoration: none;
  background-color: #ffffff;
  color: $grey;
  padding: 0 35px;
}
#item-panels .panel-heading h4 a.collapsed {
  color: $green;
}
#item-panels .panel-heading h4 a.collapsed:after {
  position: absolute;
  top: 29px;
  right: 30px;
  content: '';
  width: 36px;
  height: 22px;
  background-image: url(../images/icon-arrow-bottom.png);
}
#item-panels .panel-body {
  padding: 1px 40px 40px;
  background-color: $white;
}
#item-panels .col-1-2 {
  padding-right: 15px;
}
.item-char {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px dotted $grey;
  font-size: 14px;
  line-height: 18px;
}
.item-char__label {
  display: table-cell;
  padding: 6px 6px 6px 0;
}
.item-char__value {
  display: table-cell;
}
#item-services .panel-body {
  padding-left: 20px;
  padding-right: 20px;
}
.panel-body .services-list {
  padding-left: 0;
  padding-right: 0;
}
#item-services .service-list-link {
  height: 200px;
}
.item-info {
  margin: 0 -5px 10px -5px;
}
.item-info .col-1-2 {
  padding: 0 5px;
}
.item-placement {
  background-color: $dark;
  height: 160px;
}
.item-info .item-icons {
  margin-right: -3px;
}
.item-icons .col-1-3 {
  padding: 0 2px;
}
.info-icon {
  display: block;
  width: 100%;
  height: 160px;
  border: 1px solid $green;
  text-align: center;
  font-family: $font-medium;
  text-decoration: none;
  padding-top: 30px;
}
.info-icon.item-calculate {
  color: $green;
  background-color: $white;
}
.info-icon.item-wishlist,
.info-icon.item-compare {
  background-color: $green;
  color: $white;
}
.item-icons__img {
  margin-bottom: 6px;
}
.item-icons__img img {
  height: 48px;
}
.item-stock {
  padding-top: 25px;
  padding-left: 25px;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}
.item-stock strong {
  font-family: $font-bold;
  font-size: 30px;
}
.item-other {
  padding-left: 25px;
}
.item-other a {
  color: $green;
  font-size: 16px;
}
.item-current-shop {
  text-align: center;
  padding-top: 25px;
}
.item-placement-icon {
  margin-bottom: 10px;
}
.item-placement-sublbl {
  color: #c1c1c1;
  font-family: $font-medium;
  font-size: 13px;
}
.item-placement-lbl {
  color: #ffffff;
  font-family: $font-bold;
  font-size: 20px;
  line-height: 24px;
}
.item-main {
  background-color: #ffffff;
  padding: 15px 20px;
}
.item-main .item-desc {
  float: left;
  width: 65%;
  padding-right: 30px;
}
.item-main .item-order-info {
  float: left;
  width: 35%;
}
.item-title h1 {
  margin: 0;
  font-family: $font-regular;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 22px;
}

.item-title__lbl {
  display: inline-block;
  background-color: $yellow;
  color: $red;
  font-family: $font-bold-cond;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 10px;
}
.item-stats {
  margin-bottom: 15px;
}
.item-ratio {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 26px;
  background-image: url(../images/stars-big.png);
  background-size: 130px 130px;
  margin-right: 20px;
}
.item-ratio.ratio-1 {
  background-position: 0 0;
}
.item-ratio.ratio-2 {
  background-position: 0 -26px;
}
.item-ratio.ratio-3 {
  background-position: 0 -52px;
}
.item-ratio.ratio-4 {
  background-position: 0 -78px;
}
.item-ratio.ratio-5 {
  background-position: 0 -104px;
}
.item-comments {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}
.item-comments__link {
  display: inline-block;
  vertical-align: top;
  color: $green;
}
.item-comments__link img {
 vertical-align: middle;
  margin-right: 5px;
}
.item-comments__link span {
  font-size: 20px;
}
.item-order-info {

}
.item-sku {
  font-size: 24px;
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.item-sku strong {
  font-family: $font-medium;
  margin-left: 15px;
}
.item-price {
  font-size: 24px;
  line-height: 30px;
}
.item-price strong {
  font-family: $font-bold;
  font-size: 48px;
}