.app-wrap.layout-vacancy {
  overflow: hidden;
}
.vacancy-header {
  padding-top: 80px;
  margin-bottom: 0;
  text-align: center;
  background-color: #ffffff;
}
.vacancy-header .index-logo img {
  width: 170px;
}
.img-vacancy {
  display: block;
}
.page-vacancy {
  padding: 0 20px;
}
.vacancy-form {
  background-color: $green;
  padding: 20px 20px 35px;
  margin-bottom: 20px;
}
.vacancy-form__title {
  text-align: center;
  color: #ffffff;
  font-family: $font-regular;
  font-size: 72px;
  line-height: 1em;
  margin: 0 0 20px;
}
.vacancy-form__row {
  position: relative;
}
.vacancy-form__inputbox {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  font-size: 24px;
  font-style: italic;
  border: none;
}
.vacancy-form__submit {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  padding: 0;
  width: 58px;
  height: 58px;
}
.vacancy-form__submit img {
  width: 100%;
}
.vacancy-item {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.vacancy-box {
  padding: 24px 96px 24px 30px;
  background-repeat: no-repeat;
  background-position: right 30px center;
}
.vacancy-item__title {
  color: $green;
  font-size: 24px;
  font-family: $font-bold;
  line-height: 30px;
  min-height: 60px;
  margin-bottom: 30px;
}
.vacancy-item__desc {
  color: #333333;
}
.vacancy-item__desc strong {
  font-family: $font-bold;
}
.vacancy-loadmore {
  position: fixed;
  width: 100%;
  height: 300px;
  left: 0;
  bottom: 160px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100&0+0,1+75 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 75%, rgba(241,241,241,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 75%,rgba(241,241,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 75%,rgba(241,241,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding-top: 180px;
}
.btn-showvacancy {
  display: inline-block;
  background-color: $green;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 0 50px;
  text-decoration: none;
}