.index-cards {
  padding-top: 230px;
  margin-bottom: 50px;
  text-align: center;
}
.cards-title {
  font-family: $font-regular;
  font-size: 72px;
  margin: 30px 0 40px;
  line-height: 1em;
}
.cards-list {
  padding: 0 15px;
}
.card-item {
  width: 33.33%;
  float: left;
  padding: 0 5px;
}
.card-box {
  padding: 40px 15px;
  height: 1000px;
}
.card-grey {
  background-color: $light;
}
.card-green {
  background-color: $green;
}
.card-image {
  margin-bottom: 48px;
}
.card-image img {
  max-width: 100%;
}
.card-title {
  font-family: $font-bold;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 50px;
}
.card-green .card-title {
  color: #ffffff;
}
.card-button {
  margin-bottom: 30px;
}
.btn-getcard {
  display: block;
  height: 60px;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: $green;
}
.card-features {

}
.card-features li {
  display: table;
  width: 100%;
  height: 90px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
.card-green .card-features li {

}
.card-features li:not(:last-child) {
  border-bottom: 1px dashed #d8d8d8;
}
.card-green .card-features li:not(:last-child) {
  border-bottom: 1px dashed #80D05F;
}
.card-features li span {
  display: table-cell;
  vertical-align: middle;
}
.card-green .card-features li {
  position: relative;
  color: #333333;
  text-align: left;
  padding-left: 95px;
}
.card-green .card-features li img {
  position: absolute;
  top: 20px;
  left: 15px;
}
.card-green .card-features li img.img-card-warranty {
  top: 25px;
}
.card-green .card-features li img.img-card-sendback {
  left: 20px;
}
.card-green .card-features li img.img-card-clock {
  left: 20px;
}

