.pagination-row {
  position: relative;
  padding: 10px 20px 0;
}
.pagination-list {
  list-style: none;
  padding: 0 230px;
  margin: 0;
  text-align: center;
}
.pagination-list li {
  display: inline-block;
  padding: 0 8px;
}
.pagination-item {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: $grey;
  text-decoration: none;
  font-family: $font-medium;
  font-size: 24px;
}
a.pagination-item {
  color: #ffffff;
  background-color: $green;
}
a.pagination-item:hover,
a.pagination-item:focus,
a.pagination-item:active {
  background-color: $green-dark;
}
a.pagination-arrow {
  position: absolute;
  top: 10px;
  width: 230px;
  height: 60px;
  line-height: 60px;
  background-size: 230px 60px;
  text-align: center;
  text-decoration: none;
  color: $green;
  font-family: $font-medium;
  font-size: 20px;
}
a.pagination-arrow.arrow-prev {
  left: 20px;
  background-image: url(../images/pagination-prev.png);
}
a.pagination-arrow.arrow-next {
  right: 20px;
  background-image: url(../images/pagination-next.png);
}