@import "_variables";
.services-list {
  padding: 20px 10px;
}
.service-list-item {
  width: 33.3%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}
.service-list-link {
  display: block;
  width: 100%;
  height: 240px;
  background-color: $white;
  padding: 50px 20px 0 70px;
  text-decoration: none;
  color: $black;
  background-repeat: no-repeat;
  background-position: 36px 80px;
}
.service-list-title {
  position: relative;
  text-transform: uppercase;
  font-family: $font-bold-cond;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 6px;
}
.service-list-title:before {
  position: absolute;
  left: -55px;
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 6px solid $black;
  background-color: $yellow;
}
.service-list-item.item-11 .service-list-title {
  font-size: 22px;
  line-height: 22px;
}
.service-list-subtitle {
  font-family: $font-bold-cond;
  color: $green;
  font-size: 16px;
}
.service-list-item.item-01 .service-list-link {
  background-image: url(../images/service-list-01.png);
}
.service-list-item.item-02 .service-list-link {
  background-image: url(../images/service-list-02.png);
}
.service-list-item.item-03 .service-list-link {
  background-image: url(../images/service-list-03.png);
}
.service-list-item.item-04 .service-list-link {
  background-image: url(../images/service-list-04.png);
}
.service-list-item.item-05 .service-list-link {
  background-image: url(../images/service-list-05.png);
}
.service-list-item.item-06 .service-list-link {
  background-image: url(../images/service-list-06.png);
}
.service-list-item.item-07 .service-list-link {
  background-image: url(../images/service-list-07.png);
}
.service-list-item.item-08 .service-list-link {
  background-image: url(../images/service-list-08.png);
}
.service-list-item.item-09 .service-list-link {
  background-image: url(../images/service-list-09.png);
}
.service-list-item.item-10 .service-list-link {
  background-image: url(../images/service-list-10.png);
}
.service-list-item.item-11 .service-list-link {
  background-image: url(../images/service-list-11.png);
}