.mod-search {
  background-color: $white;
  padding: 0 20px;
}
.search-form {
  background-color: $green;
  position: relative;
  padding: 4px;
}
.search-form-box {
  overflow: hidden;
  padding-bottom: 20px;
}
.search-form__inputbox {
  width: 100%;
  height: 69px;
  border: none;
  padding: 0 90px 0 30px;
  font-style: italic;
  font-size: 24px;
  box-shadow: 0 12px 10px 0 $green-dark;
}
.search-form__submit {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: $green;
  padding: 0;
  margin: 0;
  border: none;
}
.search-form__submit img {
  width: 60px;
  height: 60px;
}
.live-search {
  display: none;
}
.sort-search__form {
  position: relative;
  border: 3px solid $green;
  padding: 3px;
  background-color: #ffffff;
  height: 80px;
}
.sort-search__inputbox {
  width: 100%;
  height: 68px;
  border: none;
  background-color: #ffffff;
  padding: 0 88px 0 20px;
  font-style: italic;
  font-size: 24px;
}
.sort-search__submit {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 68px;
  height: 68px;
  border: none;
  background-color: $green;
  padding: 0;
  margin: 0;
}
.sort-search__submit img {
  width: 100%;
}