$green-darker: #307115;
$green-dark: #4D952F;
$green: #68BD45;
$green-light: #C8DA05;
$yellow: #F5E118;
$red: #E50F2E;
$black: #000000;
$dark: #333333;
$grey: #666666;
$light: #F1F1F1;
$white: #ffffff;

$font-regular: 'HelveticaNeueLT W1G 55 Roman', serif;
$font-bold: 'HelveticaNeueLT W1G 75 Bd', serif;
$font-medium: 'HelveticaNeueLT W1G 65 Md', serif;
$font-bold-cond: 'G', Arial, serif;