@import "_fonts";
@import "_variables";
//@import "_bootstrap";
@import "_common";
@import "_slick";
@import "_select2";
@import "_lightbox";
@import "_header";
@import "_footer";



*:focus,
*:active {
  outline: none;
}

* {
  box-sizing: border-box;
}
ul.clean {
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body {
  width: 100%;
  height: 1920px;
  max-height: 1920px;
  padding: 0;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.col-1-4 {
  float: left;
  width: 25%;
}
.col-1-3 {
  float: left;
  width: 33.33%;
}
.col-1-5 {
  float: left;
  width: 20%;
}
.col-1-2 {
  float: left;
  width: 50%;
}
.col-5-12 {
  float: left;
  width: 40%;
}
.col-7-12 {
  float: left;
  width: 60%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

body {
  font-family: $font-regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: $white;
}

.example {
  color: #ffffff;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.app-wrap {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 160px;
}
.app-main {
  width: 100%;
  height: 100%;
}
.layout-index {
  background-image: url(../images/bg-index.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.layout-inner .app-main,
.layout-category .app-main,
.layout-catalog .app-main,
.layout-vacancy .app-main {
  background-color: $light;
}
.app-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  z-index: 5;
}

/* Show modal */
.show-nav .app-main {
  filter: blur(4px);
}
.show-nav .app-overlay {
  display: block;
}
.show-nav .footer-popup {
  display: block;
}
  /* index slider */
.index-slider {
  position: relative;
  height: 740px;
  margin-bottom: 90px;
}
.index-slider-arrow {
  position: absolute;
  top: 270px;
  width: 60px;
  height: 160px;
  background-color: $white;
  border: 4px solid $green;
  text-align: center;
  line-height: 156px;
  cursor: pointer;
}
.index-slider-arrow.arrow-prev {
  border-left: none;
  left: 0;
}
.index-slider-arrow.arrow-next {
  border-right: none;
  right: 0;
}
.index-slider-arrow:active {
  background-color: $green;
}
.index-slider-arrow:active img {
  filter: brightness(0) invert(1);
}
  /* index menu */
.index-menu {

}
.index-menu-list.clean {
  padding: 0 10px;
}
.index-menu-item {
  width: 20%;
  float: left;
  padding: 0 10px;
}
.index-menu-link {
  display: block;
  width: 100%;
  height: 230px;
  background-color: $green;
  color: $white;
  text-align: center;
  text-decoration: none;
  padding: 60px 20px 0 20px;
}
.index-menu-link img {
  display: inline-block;
  margin-bottom: 10px;
}
.index-menu-link span {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}
.menu-item-services,
.menu-item-cards,
.menu-item-vacancy {
  line-height: 44px;
}
.index-menu-link:active {
  background-color: $grey;
  color: #808080;
}
.index-menu-link:active img {
  filter: brightness(50%);
}

/* Index slider */
.index-slider:before {
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 0;
  width: 370px;
  height: 370px;
  content: '';
  background-image: url(../images/slide-backside-01.jpg);
  background-size: cover;
  opacity: 0.4;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}
.index-slider:after {
  position: absolute;
  bottom: -20px;
  right: 80px;
  z-index: 0;
  width: 370px;
  height: 370px;
  content: '';
  background-image: url(../images/slide-backside-02.jpg);
  background-size: cover;
  opacity: 0.4;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}
.slider-slides {
  width: 738px;
  margin: 0 auto;
  z-index: 2;
}
.index-slide {
  position: relative;
  width: 738px;
  height: 738px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.index-slide__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #4a4a4a;
}
.index-slide__line {
  position: absolute;
  width: 76%;
  height: 80px;
  left: 0;
  bottom: 60px;
  background-color: $yellow;
  padding: 0 20px;
}
.index-slide__line:after {
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: $yellow transparent transparent transparent;
}
.index-slide__title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 80px;
  font-family: $font-bold;
  font-size: 24px;
}
.index-slide__price {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin: 0;
  line-height: 80px;
  font-family: $font-bold;
  font-size: 24px;
}
.index-slide__price span {
  font-family: $font-regular;
  font-size: 18px;
}
/* Search */
@import "_search";

/* Pagination */
@import "_pagination";

/* Catalog list */
@import "_catalog-list";

/* Pages styles */
@import "_item";

/* Scheme */
@import "_page-scheme";

/* Cards */
@import "_page-cards";

/* Services */
@import "_page-services";

/* Vacancy */
@import "_page-vacancy";
