@font-face {
  font-family: 'HelveticaNeueLT W1G 55 Roman';
  src: url("../fonts/HelveticaNeueLTW1G-Roman.eot");
  src: url("../fonts/HelveticaNeueLTW1G-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTW1G-Roman.svg#HelveticaNeueLTW1G-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'HelveticaNeueLT W1G 75 Bd';
  src: url("../fonts/HelveticaNeueLTW1G-Bd.eot");
  src: url("../fonts/HelveticaNeueLTW1G-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTW1G-Bd.svg#HelveticaNeueLTW1G-Bd") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'HelveticaNeueLT W1G 65 Md';
  src: url("../fonts/HelveticaNeueLTW1G-Md.eot");
  src: url("../fonts/HelveticaNeueLTW1G-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-Md.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTW1G-Md.svg#HelveticaNeueLTW1G-Md") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'G';
  src: url("../fonts/HelveticaNeueLTW1G-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTW1G-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-BdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-BdCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTW1G-BdCn.svg#HelveticaNeueLTW1G-BdCn") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px; }

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-search--inline {
  float: left; }

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }

.select2-results__option[aria-selected] {
  cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide {
  display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

body.lb-disable-scrolling {
  overflow: hidden; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-left: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer;
  background: url(../images/i-prev-green.png) center no-repeat; }

.lb-nav a.lb-next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-right: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer;
  background: url(../images/i-next-green.png) center no-repeat; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  display: none; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-closeContainer {
  text-align: center; }

.lb-data .lb-close {
  display: inline-block;
  position: relative;
  padding: 0 100px;
  height: 50px;
  background-color: #68BD45;
  color: #ffffff;
  line-height: 50px;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 20px; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.index-header {
  padding-top: 230px;
  margin-bottom: 130px;
  text-align: center; }

.inner-header {
  position: relative;
  padding: 30px 30px 0;
  height: 360px;
  background-color: #ffffff;
  background-image: url(../images/bg-inner.png);
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat; }

.inner-logo {
  position: relative;
  z-index: 1;
  margin-bottom: 90px; }

.inner-title h1 {
  font-family: "HelveticaNeueLT W1G 55 Roman", serif;
  font-weight: normal;
  font-size: 72px; }

.inner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: initial; }

.inner-bg.category-bg {
  background-position: right 40px top 40px; }

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #68BD45;
  z-index: 10; }

.footer-container {
  max-width: 1080px;
  margin: 0 auto; }

.footer-tools {
  float: left;
  width: 38%;
  height: 160px;
  background-color: #4D952F; }

.footer-index .footer-tools {
  float: none;
  margin: 0 auto; }

.footer-tools-item {
  float: left;
  width: 50%;
  text-align: center; }

.footer-tools-link {
  display: block;
  height: 160px;
  padding: 30px 25px 0; }

.footer-tools-img {
  height: 60px;
  margin-bottom: 6px; }

.footer-tools-lbl {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff; }

.footer-tools-item.item-compare span {
  line-height: 44px; }

.no-active .footer-tools-lbl {
  color: #3E7925; }

.footer-nav {
  float: left;
  width: 38%;
  height: 160px;
  text-align: center;
  padding-top: 48px; }

.footer-nav a {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top; }

.btn-back {
  width: 230px;
  height: 64px;
  background: url(../images/icon-back.png);
  line-height: 64px;
  color: #ffffff;
  text-decoration: none;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 20px; }

.footer-shutdown {
  text-align: center;
  float: right;
  width: 24%;
  height: 160px; }

.btn-shutdown {
  display: block;
  height: 160px;
  text-align: center;
  background-color: #307115;
  padding-top: 50px; }

.btn-shutdown span {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none; }

.btn-shutdown span.img {
  margin-right: 15px; }

.btn-shutdown span.lbl {
  text-align: left;
  font-size: 15px; }

.fixed-feedback {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer; }

.fixed-feedback__bg {
  width: 180px;
  height: 180px;
  background-image: url(../images/bg-wrote.png);
  background-size: 180px;
  color: #ffffff;
  text-align: center;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 18px;
  padding: 88px 0 0 55px; }

/* Footer nav */
.footer-popup {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 160px;
  background-color: #D8D8D8;
  padding: 40px 20px; }

.footer-popup .index-menu {
  padding-top: 15px;
  border-top: 1px dashed #C2C2C2;
  margin-top: 10px; }

.footer-popup ul.index-menu-list {
  margin: 0 -20px; }

.item-current {
  display: inline-block;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  padding: 15px 0; }

ul.footer-breadcrumbs.clean {
  display: block;
  padding-right: 70px; }

.footer-breadcrumbs li {
  float: left;
  margin-right: 10px; }

.footer-breadcrumbs li a {
  display: block;
  background-color: #ffffff;
  color: #68BD45;
  border-radius: 3px;
  text-decoration: none;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 18px;
  line-height: 20px;
  padding: 20px; }

.footer-breadcrumbs li.item-home a {
  padding: 15px 10px; }

.footer-breadcrumbs li.item-home img {
  height: 30px;
  display: block; }

.footer-close {
  position: absolute;
  top: 20px;
  right: 20px; }

.footer-popup__close {
  position: absolute;
  left: 0;
  bottom: -160px;
  width: 100%;
  height: 160px;
  background-color: #999; }

.btn-close-footer {
  display: inline-block;
  width: 410px;
  height: 160px;
  background-color: #68BD45;
  color: #ffffff;
  padding: 50px 0 0 120px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px;
  line-height: 26px; }

.btn-close-footer img {
  float: left;
  margin-top: 10px;
  margin-right: 20px; }

.btn-close-footer span {
  float: left; }

/* Page popup */
.page-popup {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 160px;
  background-color: #ffffff;
  color: #333333; }

.popup-feedback {
  height: 1760px; }

.page-popup-box {
  padding: 70px 135px 30px; }

.client-support-grey {
  margin: 0 -135px 100px -135px;
  padding: 35px 135px;
  background-color: #F1F1F1;
  font-size: 18px;
  line-height: 24px; }

.page-popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 36px;
  height: 36px; }

.page-popup__close img {
  display: block; }

.page-popup h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 40px; }

.page-popup__bottom {
  position: absolute;
  left: 0;
  bottom: -160px;
  width: 76%;
  height: 160px;
  background-color: #68BD45; }

.page-popup__bottom-close {
  padding: 40px 0;
  text-align: center; }

.page-popup__bottom-close-btn {
  display: inline-block;
  background-color: #ffffff;
  color: #4A4A4A;
  text-align: center;
  width: 370px;
  height: 80px;
  line-height: 80px; }

.page-popup__bottom-close-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.page-popup__bottom-close-btn span {
  display: inline-block;
  vertical-align: middle;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 18px; }

.name-row {
  margin: 0 -10px 20px -10px; }

.name-row .col-1-3 {
  padding: 0 10px; }

.name-row label {
  display: block;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px; }

.feedback-form-inputbox {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  color: #333333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee; }

.name-desc {
  text-align: center;
  font-style: italic;
  color: #4a4a4a;
  margin-bottom: 20px; }

.client-feedback-form .form-row {
  border-top: 1px dashed #e1e1e1;
  padding: 12px 0; }

.client-feedback-form .form-row > label {
  float: left;
  width: 155px;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 14px;
  line-height: 40px; }

.client-feedback-form .form-row > label.double {
  line-height: 20px; }

.client-feedback-form .form-row .feedback-form-inputbox {
  width: 500px; }

.feedback-form-textarea {
  width: 500px;
  border: 1px solid #eeeeee;
  resize: vertical;
  padding: 12px 20px;
  font-size: 14px;
  color: #333333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  height: 200px; }

.client-feedback-form .form-row.submit-row {
  border-top: 2px solid #68BD45;
  padding-top: 38px; }

.feedback-form-submit {
  width: 550px;
  height: 80px;
  text-align: center;
  padding: 0;
  border: none;
  background-color: #68BD45;
  color: #ffffff;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px;
  line-height: 80px;
  margin: 0 0 28px 130px; }

.required-fields {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 20px; }

.required-fields span {
  color: #68BD45;
  font-size: 36px;
  vertical-align: middle; }

.feedback-form-select {
  width: 500px;
  float: left; }

.select2-container .select2-selection--single {
  width: 100%;
  height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #f1f1f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */ }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding: 0 20px;
  color: #4A4A4A; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #68BD45;
  color: #ffffff; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/icon-dropdown.png);
  background-repeat: no-repeat;
  width: 11px;
  height: 15px;
  top: 13px;
  right: 12px; }

.iagree-row {
  margin-left: 155px;
  width: 500px;
  padding: 10px 0; }

/* Checkboxes */
.checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

.checkbox + label {
  cursor: pointer; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s; }

.checkbox:checked + label:after {
  opacity: 1; }

.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5); }

*:focus,
*:active {
  outline: none; }

* {
  box-sizing: border-box; }

ul.clean {
  padding: 0;
  margin: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 1920px;
  max-height: 1920px;
  padding: 0;
  margin: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

.col-1-4 {
  float: left;
  width: 25%; }

.col-1-3 {
  float: left;
  width: 33.33%; }

.col-1-5 {
  float: left;
  width: 20%; }

.col-1-2 {
  float: left;
  width: 50%; }

.col-5-12 {
  float: left;
  width: 40%; }

.col-7-12 {
  float: left;
  width: 60%; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

body {
  font-family: "HelveticaNeueLT W1G 55 Roman", serif, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff; }

.example {
  color: #ffffff; }
  @media (max-width: 991px) {
    .example {
      width: 100%; } }

.app-wrap {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 160px; }

.app-main {
  width: 100%;
  height: 100%; }

.layout-index {
  background-image: url(../images/bg-index.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

.layout-inner .app-main,
.layout-category .app-main,
.layout-catalog .app-main,
.layout-vacancy .app-main {
  background-color: #F1F1F1; }

.app-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  z-index: 5; }

/* Show modal */
.show-nav .app-main {
  filter: blur(4px); }

.show-nav .app-overlay {
  display: block; }

.show-nav .footer-popup {
  display: block; }

/* index slider */
.index-slider {
  position: relative;
  height: 740px;
  margin-bottom: 90px; }

.index-slider-arrow {
  position: absolute;
  top: 270px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  text-align: center;
  line-height: 156px;
  cursor: pointer; }

.index-slider-arrow.arrow-prev {
  border-left: none;
  left: 0; }

.index-slider-arrow.arrow-next {
  border-right: none;
  right: 0; }

.index-slider-arrow:active {
  background-color: #68BD45; }

.index-slider-arrow:active img {
  filter: brightness(0) invert(1); }

/* index menu */
.index-menu-list.clean {
  padding: 0 10px; }

.index-menu-item {
  width: 20%;
  float: left;
  padding: 0 10px; }

.index-menu-link {
  display: block;
  width: 100%;
  height: 230px;
  background-color: #68BD45;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 60px 20px 0 20px; }

.index-menu-link img {
  display: inline-block;
  margin-bottom: 10px; }

.index-menu-link span {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px; }

.menu-item-services,
.menu-item-cards,
.menu-item-vacancy {
  line-height: 44px; }

.index-menu-link:active {
  background-color: #666666;
  color: #808080; }

.index-menu-link:active img {
  filter: brightness(50%); }

/* Index slider */
.index-slider:before {
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 0;
  width: 370px;
  height: 370px;
  content: '';
  background-image: url(../images/slide-backside-01.jpg);
  background-size: cover;
  opacity: 0.4;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4); }

.index-slider:after {
  position: absolute;
  bottom: -20px;
  right: 80px;
  z-index: 0;
  width: 370px;
  height: 370px;
  content: '';
  background-image: url(../images/slide-backside-02.jpg);
  background-size: cover;
  opacity: 0.4;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4); }

.slider-slides {
  width: 738px;
  margin: 0 auto;
  z-index: 2; }

.index-slide {
  position: relative;
  width: 738px;
  height: 738px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.index-slide__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #4a4a4a; }

.index-slide__line {
  position: absolute;
  width: 76%;
  height: 80px;
  left: 0;
  bottom: 60px;
  background-color: #F5E118;
  padding: 0 20px; }

.index-slide__line:after {
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #F5E118 transparent transparent transparent; }

.index-slide__title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 80px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px; }

.index-slide__price {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin: 0;
  line-height: 80px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px; }

.index-slide__price span {
  font-family: "HelveticaNeueLT W1G 55 Roman", serif;
  font-size: 18px; }

/* Search */
.mod-search {
  background-color: #ffffff;
  padding: 0 20px; }

.search-form {
  background-color: #68BD45;
  position: relative;
  padding: 4px; }

.search-form-box {
  overflow: hidden;
  padding-bottom: 20px; }

.search-form__inputbox {
  width: 100%;
  height: 69px;
  border: none;
  padding: 0 90px 0 30px;
  font-style: italic;
  font-size: 24px;
  box-shadow: 0 12px 10px 0 #4D952F; }

.search-form__submit {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68BD45;
  padding: 0;
  margin: 0;
  border: none; }

.search-form__submit img {
  width: 60px;
  height: 60px; }

.live-search {
  display: none; }

.sort-search__form {
  position: relative;
  border: 3px solid #68BD45;
  padding: 3px;
  background-color: #ffffff;
  height: 80px; }

.sort-search__inputbox {
  width: 100%;
  height: 68px;
  border: none;
  background-color: #ffffff;
  padding: 0 88px 0 20px;
  font-style: italic;
  font-size: 24px; }

.sort-search__submit {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 68px;
  height: 68px;
  border: none;
  background-color: #68BD45;
  padding: 0;
  margin: 0; }

.sort-search__submit img {
  width: 100%; }

/* Pagination */
.pagination-row {
  position: relative;
  padding: 10px 20px 0; }

.pagination-list {
  list-style: none;
  padding: 0 230px;
  margin: 0;
  text-align: center; }

.pagination-list li {
  display: inline-block;
  padding: 0 8px; }

.pagination-item {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #666666;
  text-decoration: none;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 24px; }

a.pagination-item {
  color: #ffffff;
  background-color: #68BD45; }

a.pagination-item:hover,
a.pagination-item:focus,
a.pagination-item:active {
  background-color: #4D952F; }

a.pagination-arrow {
  position: absolute;
  top: 10px;
  width: 230px;
  height: 60px;
  line-height: 60px;
  background-size: 230px 60px;
  text-align: center;
  text-decoration: none;
  color: #68BD45;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 20px; }

a.pagination-arrow.arrow-prev {
  left: 20px;
  background-image: url(../images/pagination-prev.png); }

a.pagination-arrow.arrow-next {
  right: 20px;
  background-image: url(../images/pagination-next.png); }

/* Catalog list */
.catalog-promo {
  margin-top: 20px;
  height: 160px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68bd45+0,c8da05+100 */
  background: #68bd45;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #68bd45 0%, #c8da05 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #68bd45 0%, #c8da05 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #68bd45 0%, #c8da05 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68bd45', endColorstr='#c8da05',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin-bottom: 10px; }

.btn-gethelp {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  padding-right: 35px;
  background: url(../images/btn-pcatalog-promo.png) right no-repeat;
  color: #ffffff;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer; }

.btn-gethelp span {
  display: block;
  height: 100px;
  border: 4px solid #ffffff;
  border-right: none;
  padding: 22px 26px 0 26px;
  margin: 0; }

.catalog-promo-box > img {
  display: inline-block;
  margin: 35px 30px 0 35px; }

.catalog-promo-box > span {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 46px; }

.catalog-list {
  padding: 0 20px; }

.catalog-row {
  background-color: #F9F9F9; }

.catalog-row:not(.last) {
  border-bottom: 1px solid #F1F1F1; }

.catalog-list__item {
  display: block;
  background-color: #ffffff;
  height: 300px;
  padding-top: 80px;
  text-decoration: none;
  color: #333333; }

.catalog-list__item:not(.last) {
  border-right: 1px solid #F1F1F1; }

.subcatalog-list .catalog-list__item {
  padding-top: 30px; }

.catalog-list__item-icon {
  margin-bottom: 40px; }

.subcatalog-list .catalog-list__item-icon {
  margin-bottom: 20px; }

.catalog-list__item-icon img {
  width: 70px; }

.subcatalog-list .catalog-list__item-icon img {
  width: 150px; }

.catalog-list__item-label {
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 20px; }

.catalog-list__item.item-special {
  background-color: #000000;
  overflow: hidden;
  padding: 0; }

.catalog-list__item-special {
  position: relative;
  left: -15px;
  width: 300px;
  height: 300px;
  background-color: #F5E118;
  text-align: center;
  color: #000000;
  border-radius: 50%;
  font-family: "G", Arial, serif;
  font-size: 30px;
  line-height: 40px;
  padding-top: 100px; }

.catalog-nav {
  list-style: none;
  margin: 20px 0;
  padding: 0; }

.catalog-nav__item {
  margin-bottom: 10px; }

.catalog-nav__link {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: #333333;
  font-size: 36px;
  line-height: 80px;
  text-decoration: none;
  padding: 0 80px 0 30px; }

.catalog-nav__link:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  content: '';
  background-image: url(../images/icon-next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 37px; }

/* Items list */
.category-list {
  padding: 0 15px; }

.category-list .col-1-4 {
  padding: 0 5px; }

.category-item {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ffffff; }

.category-item__link {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #444444; }

.category-item__lbl {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F5E118;
  font-family: "G", Arial, serif;
  color: #E50F2E;
  line-height: 26px;
  padding: 0 20px; }

.category-item__img {
  text-align: center;
  margin-bottom: 5px; }

.category-item__img img {
  max-height: 130px; }

.category-item__title {
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 13px;
  line-height: 16px;
  height: 48px;
  max-height: 48px;
  overflow: hidden; }

.category-item__info {
  margin-bottom: 5px; }

.category-item__sku {
  font-size: 11px;
  line-height: 13px; }

.category-item__sku span {
  font-size: 13px; }

.category-item__price {
  font-size: 18px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  line-height: 18px; }

.category-item__price span {
  font-size: 13px;
  font-family: "HelveticaNeueLT W1G 55 Roman", serif; }

.category-item__ratio {
  float: right;
  width: 65px;
  height: 13px;
  background-image: url(../images/stars.png);
  background-size: 65px 65px; }

.category-item__ratio.ratio-1 {
  background-position: 0 0; }

.category-item__ratio.ratio-2 {
  background-position: 0 -13px; }

.category-item__ratio.ratio-3 {
  background-position: 0 -26px; }

.category-item__ratio.ratio-4 {
  background-position: 0 -39px; }

.category-item__ratio.ratio-5 {
  background-position: 0 -52px; }

.category-item__footer {
  border-top: 1px solid #F1F1F1;
  padding: 10px 0;
  text-align: center; }

.category-item__map,
.category-item__compare,
.category-item__wishlist {
  text-decoration: none;
  color: #68BD45;
  font-size: 13px; }

.category-item__map img,
.category-item__compare img,
.category-item__wishlist img {
  height: 24px;
  vertical-align: top; }

.category-item__wishlist {
  padding-right: 10px; }

.category-item__wishlist span {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  margin-left: 10px; }

.sort-row {
  padding: 10px 15px; }

.sort-search,
.sort-filters {
  padding: 0 5px; }

/* Pages styles */
.item-header {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2; }

.app-wrap.layout-item {
  background-color: #F1F1F1; }

.item-top {
  padding-top: 80px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 70px; }

.item-image {
  text-align: center; }

a.item-thumb {
  position: relative;
  display: inline-block; }

a.item-thumb:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  width: 34px;
  height: 35px;
  background-image: url(../images/icon-zoom.png);
  background-size: 34px 35px; }

a.item-thumb img {
  max-height: 523px; }

.item-images__prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-left: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer; }

.item-images__next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -80px;
  width: 60px;
  height: 160px;
  background-color: #ffffff;
  border: 4px solid #68BD45;
  border-right: 0;
  text-align: center;
  line-height: 156px;
  cursor: pointer; }

.item-images__prev:active,
.item-images__next:active {
  background-color: #68BD45; }

.item-images__prev:active img,
.item-images__next:active img {
  filter: brightness(0) invert(1); }

.item-bottom {
  padding: 0 20px; }

.panel-collapse.collapse {
  display: none; }

.panel-collapse.collapse.in {
  display: block; }

.panel-collapse.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none !important;
  height: 0 !important; }

#item-panels .panel {
  margin-bottom: 10px; }

#item-panels .panel-heading h4 {
  margin: 0; }

#item-panels .panel-heading h4 a {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px;
  text-decoration: none;
  background-color: #ffffff;
  color: #666666;
  padding: 0 35px; }

#item-panels .panel-heading h4 a.collapsed {
  color: #68BD45; }

#item-panels .panel-heading h4 a.collapsed:after {
  position: absolute;
  top: 29px;
  right: 30px;
  content: '';
  width: 36px;
  height: 22px;
  background-image: url(../images/icon-arrow-bottom.png); }

#item-panels .panel-body {
  padding: 1px 40px 40px;
  background-color: #ffffff; }

#item-panels .col-1-2 {
  padding-right: 15px; }

.item-char {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px dotted #666666;
  font-size: 14px;
  line-height: 18px; }

.item-char__label {
  display: table-cell;
  padding: 6px 6px 6px 0; }

.item-char__value {
  display: table-cell; }

#item-services .panel-body {
  padding-left: 20px;
  padding-right: 20px; }

.panel-body .services-list {
  padding-left: 0;
  padding-right: 0; }

#item-services .service-list-link {
  height: 200px; }

.item-info {
  margin: 0 -5px 10px -5px; }

.item-info .col-1-2 {
  padding: 0 5px; }

.item-placement {
  background-color: #333333;
  height: 160px; }

.item-info .item-icons {
  margin-right: -3px; }

.item-icons .col-1-3 {
  padding: 0 2px; }

.info-icon {
  display: block;
  width: 100%;
  height: 160px;
  border: 1px solid #68BD45;
  text-align: center;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  text-decoration: none;
  padding-top: 30px; }

.info-icon.item-calculate {
  color: #68BD45;
  background-color: #ffffff; }

.info-icon.item-wishlist,
.info-icon.item-compare {
  background-color: #68BD45;
  color: #ffffff; }

.item-icons__img {
  margin-bottom: 6px; }

.item-icons__img img {
  height: 48px; }

.item-stock {
  padding-top: 25px;
  padding-left: 25px;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px; }

.item-stock strong {
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 30px; }

.item-other {
  padding-left: 25px; }

.item-other a {
  color: #68BD45;
  font-size: 16px; }

.item-current-shop {
  text-align: center;
  padding-top: 25px; }

.item-placement-icon {
  margin-bottom: 10px; }

.item-placement-sublbl {
  color: #c1c1c1;
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  font-size: 13px; }

.item-placement-lbl {
  color: #ffffff;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 20px;
  line-height: 24px; }

.item-main {
  background-color: #ffffff;
  padding: 15px 20px; }

.item-main .item-desc {
  float: left;
  width: 65%;
  padding-right: 30px; }

.item-main .item-order-info {
  float: left;
  width: 35%; }

.item-title h1 {
  margin: 0;
  font-family: "HelveticaNeueLT W1G 55 Roman", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 22px; }

.item-title__lbl {
  display: inline-block;
  background-color: #F5E118;
  color: #E50F2E;
  font-family: "G", Arial, serif;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 10px; }

.item-stats {
  margin-bottom: 15px; }

.item-ratio {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 26px;
  background-image: url(../images/stars-big.png);
  background-size: 130px 130px;
  margin-right: 20px; }

.item-ratio.ratio-1 {
  background-position: 0 0; }

.item-ratio.ratio-2 {
  background-position: 0 -26px; }

.item-ratio.ratio-3 {
  background-position: 0 -52px; }

.item-ratio.ratio-4 {
  background-position: 0 -78px; }

.item-ratio.ratio-5 {
  background-position: 0 -104px; }

.item-comments {
  display: inline-block;
  vertical-align: top;
  line-height: 26px; }

.item-comments__link {
  display: inline-block;
  vertical-align: top;
  color: #68BD45; }

.item-comments__link img {
  vertical-align: middle;
  margin-right: 5px; }

.item-comments__link span {
  font-size: 20px; }

.item-sku {
  font-size: 24px;
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 20px; }

.item-sku strong {
  font-family: "HelveticaNeueLT W1G 65 Md", serif;
  margin-left: 15px; }

.item-price {
  font-size: 24px;
  line-height: 30px; }

.item-price strong {
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 48px; }

/* Scheme */
.page-scheme {
  position: relative; }

.page-scheme .index-slider-arrow {
  top: 50%;
  margin-top: -80px; }

/* Cards */
.index-cards {
  padding-top: 230px;
  margin-bottom: 50px;
  text-align: center; }

.cards-title {
  font-family: "HelveticaNeueLT W1G 55 Roman", serif;
  font-size: 72px;
  margin: 30px 0 40px;
  line-height: 1em; }

.cards-list {
  padding: 0 15px; }

.card-item {
  width: 33.33%;
  float: left;
  padding: 0 5px; }

.card-box {
  padding: 40px 15px;
  height: 1000px; }

.card-grey {
  background-color: #F1F1F1; }

.card-green {
  background-color: #68BD45; }

.card-image {
  margin-bottom: 48px; }

.card-image img {
  max-width: 100%; }

.card-title {
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 50px; }

.card-green .card-title {
  color: #ffffff; }

.card-button {
  margin-bottom: 30px; }

.btn-getcard {
  display: block;
  height: 60px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #68BD45; }

.card-features li {
  display: table;
  width: 100%;
  height: 90px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle; }

.card-features li:not(:last-child) {
  border-bottom: 1px dashed #d8d8d8; }

.card-green .card-features li:not(:last-child) {
  border-bottom: 1px dashed #80D05F; }

.card-features li span {
  display: table-cell;
  vertical-align: middle; }

.card-green .card-features li {
  position: relative;
  color: #333333;
  text-align: left;
  padding-left: 95px; }

.card-green .card-features li img {
  position: absolute;
  top: 20px;
  left: 15px; }

.card-green .card-features li img.img-card-warranty {
  top: 25px; }

.card-green .card-features li img.img-card-sendback {
  left: 20px; }

.card-green .card-features li img.img-card-clock {
  left: 20px; }

/* Services */
.services-list {
  padding: 20px 10px; }

.service-list-item {
  width: 33.3%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px; }

.service-list-link {
  display: block;
  width: 100%;
  height: 240px;
  background-color: #ffffff;
  padding: 50px 20px 0 70px;
  text-decoration: none;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 36px 80px; }

.service-list-title {
  position: relative;
  text-transform: uppercase;
  font-family: "G", Arial, serif;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 6px; }

.service-list-title:before {
  position: absolute;
  left: -55px;
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 6px solid #000000;
  background-color: #F5E118; }

.service-list-item.item-11 .service-list-title {
  font-size: 22px;
  line-height: 22px; }

.service-list-subtitle {
  font-family: "G", Arial, serif;
  color: #68BD45;
  font-size: 16px; }

.service-list-item.item-01 .service-list-link {
  background-image: url(../images/service-list-01.png); }

.service-list-item.item-02 .service-list-link {
  background-image: url(../images/service-list-02.png); }

.service-list-item.item-03 .service-list-link {
  background-image: url(../images/service-list-03.png); }

.service-list-item.item-04 .service-list-link {
  background-image: url(../images/service-list-04.png); }

.service-list-item.item-05 .service-list-link {
  background-image: url(../images/service-list-05.png); }

.service-list-item.item-06 .service-list-link {
  background-image: url(../images/service-list-06.png); }

.service-list-item.item-07 .service-list-link {
  background-image: url(../images/service-list-07.png); }

.service-list-item.item-08 .service-list-link {
  background-image: url(../images/service-list-08.png); }

.service-list-item.item-09 .service-list-link {
  background-image: url(../images/service-list-09.png); }

.service-list-item.item-10 .service-list-link {
  background-image: url(../images/service-list-10.png); }

.service-list-item.item-11 .service-list-link {
  background-image: url(../images/service-list-11.png); }

/* Vacancy */
.app-wrap.layout-vacancy {
  overflow: hidden; }

.vacancy-header {
  padding-top: 80px;
  margin-bottom: 0;
  text-align: center;
  background-color: #ffffff; }

.vacancy-header .index-logo img {
  width: 170px; }

.img-vacancy {
  display: block; }

.page-vacancy {
  padding: 0 20px; }

.vacancy-form {
  background-color: #68BD45;
  padding: 20px 20px 35px;
  margin-bottom: 20px; }

.vacancy-form__title {
  text-align: center;
  color: #ffffff;
  font-family: "HelveticaNeueLT W1G 55 Roman", serif;
  font-size: 72px;
  line-height: 1em;
  margin: 0 0 20px; }

.vacancy-form__row {
  position: relative; }

.vacancy-form__inputbox {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  font-size: 24px;
  font-style: italic;
  border: none; }

.vacancy-form__submit {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  padding: 0;
  width: 58px;
  height: 58px; }

.vacancy-form__submit img {
  width: 100%; }

.vacancy-item {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  margin-bottom: 10px; }

.vacancy-box {
  padding: 24px 96px 24px 30px;
  background-repeat: no-repeat;
  background-position: right 30px center; }

.vacancy-item__title {
  color: #68BD45;
  font-size: 24px;
  font-family: "HelveticaNeueLT W1G 75 Bd", serif;
  line-height: 30px;
  min-height: 60px;
  margin-bottom: 30px; }

.vacancy-item__desc {
  color: #333333; }

.vacancy-item__desc strong {
  font-family: "HelveticaNeueLT W1G 75 Bd", serif; }

.vacancy-loadmore {
  position: fixed;
  width: 100%;
  height: 300px;
  left: 0;
  bottom: 160px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100&0+0,1+75 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, #f1f1f1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, #f1f1f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, #f1f1f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
  text-align: center;
  padding-top: 180px; }

.btn-showvacancy {
  display: inline-block;
  background-color: #68BD45;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 0 50px;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
