.col-1-4
    .category-item
        a.category-item__link(href="item.html")
            .category-item__lbl
                span Лучшая цена
            .category-item__img
                img(src="images/category-item-01.jpg", alt="")
            .category-item__title Штукатурка для ячеистого бетона Ceresit CT24 Light, 20 кг
            .category-item__info.clearfix
                .col-1-2.category-item__sku Артикул: <span>17476427</span>
                .col-1-2.category-item__ratio.ratio-4
            .category-item__price 280,00 <span>руб./шт.</span>
        .category-item__footer.clearfix
            .col-1-4
                a.category-item__map(href="#")
                    img(src="images/icon-thumb-marker.png")
            .col-1-4
                a.category-item__compare(href="#")
                    img(src="images/icon-thumb-compare.png")
            .col-1-2.text-right
                a.category-item__wishlist(href="#")
                    img(src="images/icon-thumb-wishlist.png")
                    span В список
