.sort-row.clearfix
    .col-5-12
        .sort-search
            form.sort-search__form
                input.sort-search__inputbox(type="text",placeholder="Поиск")
                button.sort-search__submit(type="submit")
                    img(src="images/icon-search.png", alt="Поиск")
    .col-7-12
        .sort-filters
            //TODO Filters UI