.page-popup.popup-feedback.js-feedback
    .page-popup-box
        .page-popup__close
            img(src="images/icon-close.png")
        h3.text-center Клиентская поддержка
        .client-support-grey
            p Заполнив форму обратной связи, Вы можете сообщить нам любую информацию, касающуюся качества обслуживания в гипермаркетах строительных материалов Леруа Мерлен. Мы обязательно рассмотрим Ваши замечания и предложения, доведем их до сведения руководства и дадим Вам подробный ответ.
            p Возможно, ответ на Ваш вопрос уже есть в нашем разделе: часто задаваемые вопросы FAQ.
        form.client-feedback-form
            .name-row.clearfix
                .col-1-3
                    label Фамилия:
                    input.feedback-form-inputbox(type="text", placeholder="Иванов")
                .col-1-3
                    label Имя:
                    input.feedback-form-inputbox(type="text", placeholder="Сергей")
                .col-1-3
                    label Отчество:
                    input.feedback-form-inputbox(type="text", placeholder="Петрович")
            .name-desc Пожалуйста, укажите Ваши контактные данные, чтобы мы могли связаться с Вами по Вашему обращению
            .form-row.clearfix
                label E-mail:
                input.feedback-form-inputbox(type="email", placeholder="mail@mail.com")
            .form-row.clearfix
                label Город:
                select.feedback-form-select.select-custom
                    option Выберите город
                    option Москва
                    option Санкт-Петербург
                    option Казань
                    option Новосибирск
            .form-row.clearfix
                label Магазин:
                select.feedback-form-select.select-custom
                    option Выберите магазин
                    option Москва
                    option Санкт-Петербург
                    option Казань
                    option Новосибирск
            .form-row.clearfix
                label.double Категория<br>запроса:
                select.feedback-form-select.select-custom
                    option Выберите категорию
                    option Москва
                    option Санкт-Петербург
                    option Казань
                    option Новосибирск
            .form-row.clearfix
                label Тема:
                input.feedback-form-inputbox(type="text", placeholder="Укажите тему сообщения")
            .form-row.clearfix
                label.double Категория<br>запроса:
                textarea.feedback-form-textarea(placeholder="Напишите текст сообщения")
            .form-row.clearfix
                .iagree-row
                    input.checkbox(type="checkbox", name="iagree", id="iagree", checked="checked")
                    label.checkbox-label(for="iagree") Я даю согласие на обработку персональных данных

            .form-row.submit-row.clearfix
                button.feedback-form-submit(type="submit") Отправить

            .required-fields <span>*</span> Все поля обязательны для заполнения

    .page-popup__bottom
        .page-popup__bottom-close
            .page-popup__bottom-close-btn
                img(src="images/icon-close.png")
                span ЗАКРЫТЬ и очистить