.app-footer
    .footer-container.clearfix
        .footer-nav
            a.btn-back(onclick="history.go(-1);") Назад
            a.btn-menu.js-show-footernav(href="#")
                img(src="images/icon-menu.png")
        .footer-tools.clearfix
            .footer-tools-item.item-compare
                a.footer-tools-link(href="compare.html")
                    div.footer-tools-img
                        img(src="images/icon-compare.png")
                    span.footer-tools-lbl Сравнение
            .footer-tools-item.item-wishlist
                a.footer-tools-link(href="#")
                    div.footer-tools-img
                        img(src="images/icon-wishlist.png")
                    span.footer-tools-lbl Список<br>покупок
        .footer-shutdown
            a.btn-shutdown(href="index.html")
                span.img
                    img(src="images/icon-shutdown.png")
                span.lbl Закончить <br>сеанс
    //Развернутое меню
    .footer-popup
        .footer-close.js-hidefooter
            img(src="images/icon-close.png")
        .footer-popup__wrap
            ul.footer-breadcrumbs.clean.clearfix
                li.item-home
                    a(href="index.html")
                        img(src="images/icon-home.png")
                li
                    a(href="catalog.html") Каталог
                li
                    a(href="catalog.html") Стройматериалы
                li
                    a(href="catalog.html") Сухие смеси, грунтовки
                li
                    a(href="catalog.html") Штукатурки
                li
                    span.item-current Штукатурка для ячеистого бетона Ceresit CT24 Light, 20 кг
            .index-menu
                ul.index-menu-list.clean.clearfix
                    li.index-menu-item
                        a.index-menu-link.menu-item-catalog(href="catalog.html")
                            div
                                img(src="images/icon-catalog.png")
                            span Каталог продукции
                    li.index-menu-item
                        a.index-menu-link.menu-item-services(href="services.html")
                            div
                                img(src="images/icon-services.png")
                            span Услуги
                    li.index-menu-item
                        a.index-menu-link.menu-item-cards(href="cards.html")
                            div
                                img(src="images/icon-cards.png")
                            span Карты
                    li.index-menu-item
                        a.index-menu-link.menu-item-scheme(href="scheme.html")
                            div
                                img(src="images/icon-scheme.png")
                            span Схема магазина
                    li.index-menu-item
                        a.index-menu-link.menu-item-vacancy(href="vacancy.html")
                            div
                                img(src="images/icon-vacancy.png")
                            span Вакансии
        .footer-popup__close
            .btn-close-footer.js-hidefooter.clearfix
                img(src="images/icon-close-white.png")
                span закрыть<br>меню
    //Feedback form
    include _feedback-form
.fixed-feedback
    .fixed-feedback__bg написать<br>отзыв
.app-overlay
