.app-footer.footer-index
    .footer-container
        .footer-tools.clearfix
            .footer-tools-item.item-compare.no-active
                span.footer-tools-link
                    div.footer-tools-img
                        img(src="images/icon-compare-noactive.png")
                    span.footer-tools-lbl Сравнение
            .footer-tools-item.item-wishlist.no-active
                span.footer-tools-link
                    div.footer-tools-img
                        img(src="images/icon-wishlist-noactive.png")
                    span.footer-tools-lbl Список<br>покупок
.fixed-feedback
    .fixed-feedback__bg написать<br>отзыв