.slider-slides.js-index-slider
    .index-slide(style="background-image:url(images/index-slide-01.jpg)")
        a.index-slide__link(href="item.html")
            .index-slide__line
                h3.index-slide__title Фенс Белый
                .index-slide__price 45 225,00 <span>руб./шт.</span>
    .index-slide(style="background-image:url(images/index-slide-01.jpg)")
        a.index-slide__link(href="item.html")
            .index-slide__line
                h3.index-slide__title Фенс Белый
                .index-slide__price 45 225,00 <span>руб./шт.</span>
    .index-slide(style="background-image:url(images/index-slide-01.jpg)")
        a.index-slide__link(href="item.html")
            .index-slide__line
                h3.index-slide__title Фенс Белый
                .index-slide__price 45 225,00 <span>руб./шт.</span>