.pagination-row.clearfix
    a.pagination-arrow.arrow-prev(href="#") Предыдущая
    ul.pagination-list
        li
            span.pagination-item.current 1
        li
            a.pagination-item(href="#") 2
        li
            a.pagination-item(href="#") 3
        li
            a.pagination-item(href="#") ...
        li
            a.pagination-item(href="#") 9
        li
            a.pagination-item(href="#") 10
        li
            a.pagination-item(href="#") 11
    a.pagination-arrow.arrow-next(href="#") Следующая