//
   Created by mrdubz on 4/2/17.

.mod-search
    form.search-form
        .search-form-box
            input.search-form__inputbox(type="text", placeholder="Поиск по каталогу")
            button.search-form__submit(type="submit")
                img(src="images/icon-search.png", alt="Поиск")
        .live-search
        //TODO - живой поиск