form.vacancy-form
    h1.vacancy-form__title Вакансии
    .vacancy-form__row
        input.vacancy-form__inputbox(type="text", placeholder="Поиск вакансий")
        button.vacancy-form__submit(type="submit")
            img(src="images/icon-search.png", alt="Поиск")
