a.vacancy-item(href="vacancy-item.html")
    .vacancy-box(style="background-image: url(images/icon-vacancy-type-01.png)")
        .vacancy-item__title Специалист по предотвращению внештатных ситуаций Леруа Мерлен Киевское шоссе
        .vacancy-item__desc.clearfix
            .col-1-3 Город: <strong>Москва и МО</strong>
            .col-1-3 Магазин: <strong>Центральный офис</strong>
            .col-1-3 Метро рядом: <strong>Шаболовская</strong>



