extends layouts/_default
block content
    //Оболочка
    .app-wrap
        //Контейнер контента
        .app-main.layout-index
            .index-cards
                .index-logo
                    a(href="index.html")
                        img(src="images/logo-index.png")
                h1.cards-title Программы Leroy Merlin
            .page-content
                .page-cards
                    .cards-list.clearfix
                        .card-item
                            .card-box.card-grey
                                .card-image
                                    img(src="images/img-card-noactive.png")
                                .card-title Профессиональная<br>карта
                                ul.card-features.clean
                                    li
                                        span Профессиональная<br>гамма на сайте
                                    li
                                        span Заказ по телефону,<br>оплата при получении
                                    li
                                        span Возврат с объекта
                                    li
                                        span Персональный менеджер
                                    li
                                        span Выделенная<br>каса в торговом зале
                        .card-item
                            .card-box.card-green
                                .card-image
                                    img(src="images/img-card-service.png")
                                .card-title Профессиональная<br>карта
                                .card-button
                                    a.btn-getcard(href="cards-1.html") Оформить
                                ul.card-features.clean
                                    li
                                        img.img-card-history(src="images/icon-card-history.png")
                                        span История покупок<br>в личном кабинете<br>на сайте
                                    li
                                        img.img-card-warranty(src="images/icon-card-warranty.png")
                                        span Возврат и гарантийное<br>обслуживание товара<br>без чека
                                    li
                                        img.img-card-sendback(src="images/icon-card-sendback.png")
                                        span Расширенный срок<br>возврата товара<br>в течении 1 года
                                    li
                                        img.img-card-clock(src="images/icon-card-clock.png")
                                        span Экономия времени<br>на оформление услуг
                        .card-item
                            .card-box.card-grey
                                .card-image
                                    img(src="images/img-card-noactive.png")
                                .card-title Корпоративная<br>карта
                                ul.card-features.clean
                                    li
                                        span Новая процедура<br>регистрации
                                    li
                                        span Единый договор<br>с ЛМ Россия
                                    li
                                        span Единый клиентский<br>финансовый счет
                                    li
                                        span Личный кабинет<br>(Баланс, расходы,<br>доверенности)
                                    li
                                        span Электронный<br>документооборот

        //Футер
        include modules/_footer