extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-category
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-bg(style="background-image: url(images/bg-catalog.png)")
                .inner-title
                    h1 Штукатурки
            .page-content
                include modules/_category-sort
                .category-list
                    .category-row.clearfix
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                    .category-row.clearfix
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                    .category-row.clearfix
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                    .category-row.clearfix
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                        include modules/_category-item
                include modules/_pagination

        //Футер
        include modules/_footer