extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-catalog
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-bg(style="background-image: url(images/bg-catalog.png)")
                .inner-title
                    h1 Каталог
            .page-content
                include modules/_search
                .catalog-list
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-01.png")
                                .catalog-list__item-label Стройматериалы
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-02.png")
                                .catalog-list__item-label Столярные<br>изделия
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-03.png")
                                .catalog-list__item-label Электротовары
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-04.png")
                                .catalog-list__item-label Инструменты
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-05.png")
                                .catalog-list__item-label Напольные<br>покрытия
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-07.png")
                                .catalog-list__item-label Плитка
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-06.png")
                                .catalog-list__item-label Сантехника
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-08.png")
                                .catalog-list__item-label Водоснабжение
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-09.png")
                                .catalog-list__item-label Сад
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-10.png")
                                .catalog-list__item-label Скобяные<br>изделия
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-11.png")
                                .catalog-list__item-label Краски
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-12.png")
                                .catalog-list__item-label Декор
                    .catalog-row.last.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-13.png")
                                .catalog-list__item-label Хранение
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-14.png")
                                .catalog-list__item-label Кухни
                        .col-1-4
                            a.catalog-list__item.text-center(href="subcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/icon-category-15.png")
                                .catalog-list__item-label Освещение
                        .col-1-4
                            a.catalog-list__item.item-special.text-center.last(href="#")
                                .catalog-list__item-special Предложение ограничено
        //Футер
        include modules/_footer