extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-inner
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-title
                    h1 Сравнение
            .page-content
                .compare-list
        //Футер
        include modules/_footer