extends layouts/_default
block content
  .app-wrap.layout-index
    .app-main
        .index-header
            .index-logo
                a(href="index.html")
                    img(src="images/logo-index.png")
        .index-slider
            include modules/_index-slider
            .slider-controls
                .index-slider-arrow.arrow-prev.js-index-prev
                    img(src="images/i-prev-green.png")
                .index-slider-arrow.arrow-next.js-index-next
                    img(src="images/i-next-green.png")

        .index-menu
            ul.index-menu-list.clean.clearfix
                li.index-menu-item
                    a.index-menu-link.menu-item-catalog(href="catalog.html")
                        div
                            img(src="images/icon-catalog.png")
                        span Каталог продукции
                li.index-menu-item
                    a.index-menu-link.menu-item-services(href="services.html")
                        div
                            img(src="images/icon-services.png")
                        span Услуги
                li.index-menu-item
                    a.index-menu-link.menu-item-cards(href="cards.html")
                        div
                            img(src="images/icon-cards.png")
                        span Карты
                li.index-menu-item
                    a.index-menu-link.menu-item-scheme(href="scheme.html")
                        div
                            img(src="images/icon-scheme.png")
                        span Схема магазина
                li.index-menu-item
                    a.index-menu-link.menu-item-vacancy(href="vacancy.html")
                        div
                            img(src="images/icon-vacancy.png")
                        span Вакансии
    include modules/_footer-index
