extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-item
        //Контейнер контента
        .app-main
            .item-header
                .inner-logo
                    img(src="images/logo-inner.png")
            .page-content
                .item-top
                    .item-images.js-item-slider
                        .item-image
                            a.item-thumb(href="images/item-large-01.jpg",data-lightbox="item-slider",data-albumLabel="false")
                                img(src="images/item-thumb-01.jpg",alt="")
                        .item-image
                            a.item-thumb(href="images/item-large-02.jpg",data-lightbox="item-slider",data-albumLabel="false")
                                img(src="images/item-thumb-02.jpg",alt="")
                        .item-image
                            a.item-thumb(href="images/item-large-03.jpg",data-lightbox="item-slider",data-albumLabel="false")
                                img(src="images/item-thumb-03.jpg",alt="")
                    .item-images__controls
                        .item-images__prev
                            img(src="images/i-prev-green.png")
                        .item-images__next
                            img(src="images/i-next-green.png")
                .item-main.clearfix
                    .item-desc
                        .item-title
                            h1 Штукатурка для ячеистого бетона Ceresit CT24 Light, 20 кг <span class="item-title__lbl">Лучшая цена</span>
                        .item-stats
                            .item-ratio.ratio-4
                            .item-comments
                                a.item-comments__link(href="item-feedback.html")
                                    img(src="images/icon-comments-green.png")
                                    span Отзывы (15)
                    .item-order-info
                        .item-sku Артикул: <strong>123456789</strong>
                        .item-price <strong>45 225,00</strong> руб./шт.
                .item-bottom
                    .item-info.clearfix
                        .col-1-2
                            .item-placement.clearfix
                                .col-1-2
                                    .item-stock <strong>345</strong> шт.<br>В этом магазине
                                    .item-other
                                        a(href="#") Наличие в других магазинах
                                .col-1-2
                                    .item-current-shop
                                        .item-placement-icon
                                            img(src="images/icon-placement.png")
                                        .item-placement-sublbl Местоположение в магазине:
                                        .item-placement-lbl 89 Стройматериалы

                        .col-1-2
                            .item-icons.clearfix
                                .col-1-3
                                    a.info-icon.item-calculate(href="#")
                                        .item-icons__img
                                            img(src="images/icon-calc-green.png")
                                        .item-icons__lbl Расчет<br>количества
                                .col-1-3
                                    a.info-icon.item-wishlist(href="#")
                                        .item-icons__img
                                            img(src="images/icon-wishlist-white.png")
                                        .item-icons__lbl В список<br>покупок
                                .col-1-3
                                    a.info-icon.item-compare(href="#")
                                        .item-icons__img
                                            img(src="images/icon-compare-white.png")
                                        .item-icons__lbl Добавить<br>в сравнение

                    .panel-group#item-panels(role="tablist", aria-multiselectable="true")
                        .panel
                            .panel-heading#heading-chars(role="tab")
                                h4
                                    a(role="button",data-toggle="collapse",data-parent="#item-panels",href="#item-chars",aria-expanded="true",aria-controls="item-chars") Характеристики
                            .panel-collapse.collapse.in#item-chars(role="tabpanel", aria-labelledby="heading-chars")
                                .panel-body
                                    .row.clearfix
                                        .col-1-2
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена
                                            .item-char
                                                .item-char__label Назначение
                                                .item-char__value Мелкий ремонт
                                            .item-char
                                                .item-char__label Марка
                                                .item-char__value Петромикс
                                            .item-char
                                                .item-char__label Время высыхания, ч.
                                                .item-char__value 24 часа
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена
                                            .item-char
                                                .item-char__label Назначение
                                                .item-char__value Мелкий ремонт
                                            .item-char
                                                .item-char__label Марка
                                                .item-char__value Петромикс
                                            .item-char
                                                .item-char__label Время высыхания, ч.
                                                .item-char__value 24 часа
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена
                                        .col-1-2
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена
                                            .item-char
                                                .item-char__label Назначение
                                                .item-char__value Мелкий ремонт
                                            .item-char
                                                .item-char__label Марка
                                                .item-char__value Петромикс
                                            .item-char
                                                .item-char__label Время высыхания, ч.
                                                .item-char__value 24 часа
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена
                                            .item-char
                                                .item-char__label Назначение
                                                .item-char__value Мелкий ремонт
                                            .item-char
                                                .item-char__label Марка
                                                .item-char__value Петромикс
                                            .item-char
                                                .item-char__label Время высыхания, ч.
                                                .item-char__value 24 часа
                                            .item-char
                                                .item-char__label Ценник
                                                .item-char__value Обычная цена

                        .panel
                            .panel-heading#heading-desc(role="tab")
                                h4
                                    a.collapsed(role="button",data-toggle="collapse",data-parent="#item-panels",href="#item-desc",aria-expanded="true",aria-controls="item-desc") Описание
                            .panel-collapse.collapse#item-desc(role="tabpanel", aria-labelledby="heading-desc")
                                .panel-body
                                    p Kogi cronut williamsburg, kale chips irony organic hoodie tattooed. Blog blue bottle craft beer, mlkshk etsy hammock prism kitsch ramps flannel actually. Farm-to-table ennui pinterest selfies cardigan, fingerstache raw denim unicorn church-key celiac viral chia skateboard slow-carb air plant. Subway tile kinfolk affogato tacos normcore jean shorts. Blue bottle irony unicorn, put a bird on it authentic tattooed knausgaard ugh. Ramps tbh yuccie, disrupt vape vinyl flexitarian you probably haven't heard of them hexagon plaid truffaut hella copper mug. Cliche scenester health goth, farm-to-table sriracha microdosing banjo aesthetic chartreuse slow-carb pop-up fixie.

                        .panel
                            .panel-heading#heading-services(role="tab")
                                h4
                                    a.collapsed(role="button",data-toggle="collapse",data-parent="#item-panels",href="#item-services",aria-expanded="true",aria-controls="item-services") Сопутствующие услуги
                            .panel-collapse.collapse#item-services(role="tabpanel", aria-labelledby="heading-services")
                                .panel-body
                                    .services-list.clearfix
                                        .service-list-item.item-01
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Доставка
                                                .service-list-subtitle товары на дом
                                        .service-list-item.item-02
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Возврат товара
                                                .service-list-subtitle если вы передумали
                                        .service-list-item.item-03
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Кредит
                                                .service-list-subtitle условия на ваш выбор
                                        .service-list-item.item-04
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Резка дерева <br>и стекла
                                                .service-list-subtitle точно по размерам
                                        .service-list-item.item-05
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Колеровка
                                                .service-list-subtitle разнообразие цветов
                                        .service-list-item.item-02
                                            a.service-list-link(href="service-page.html")
                                                .service-list-title Возврат товара
                                                .service-list-subtitle если вы передумали

        //Футер
        include modules/_footer