extends layouts/_default
block content
    //Оболочка
    .app-wrap
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-bg
                .inner-title
                    h1 Схема магазина
            .page-content
                .page-scheme
                    .scheme-slider.js-scheme-slider
                        .scheme-slider__item
                            img(src="images/shop-scheme-01.png")
                        .scheme-slider__item
                            img(src="images/shop-scheme-01.png")
                        .scheme-slider__item
                            img(src="images/shop-scheme-01.png")
                    .slider-controls
                        .index-slider-arrow.arrow-prev.js-scheme-prev
                            img(src="images/i-prev-green.png")
                        .index-slider-arrow.arrow-next.js-scheme-next
                            img(src="images/i-next-green.png")

        //Футер
        include modules/_footer