extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-inner
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-title
                    h1 Услуги магазина
            .page-content
                .services-list.clearfix
                    .service-list-item.item-01
                        a.service-list-link(href="service-page.html")
                            .service-list-title Доставка
                            .service-list-subtitle товары на дом
                    .service-list-item.item-02
                        a.service-list-link(href="service-page.html")
                            .service-list-title Возврат товара
                            .service-list-subtitle если вы передумали
                    .service-list-item.item-03
                        a.service-list-link(href="service-page.html")
                            .service-list-title Кредит
                            .service-list-subtitle условия на ваш выбор
                    .service-list-item.item-04
                        a.service-list-link(href="service-page.html")
                            .service-list-title Резка дерева <br>и стекла
                            .service-list-subtitle точно по размерам
                    .service-list-item.item-05
                        a.service-list-link(href="service-page.html")
                            .service-list-title Колеровка
                            .service-list-subtitle разнообразие цветов
                    .service-list-item.item-06
                        a.service-list-link(href="service-page.html")
                            .service-list-title Оверлок
                            .service-list-subtitle обработка края ковров
                    .service-list-item.item-07
                        a.service-list-link(href="service-page.html")
                            .service-list-title Пошив штор
                            .service-list-subtitle подбор дизайна, тканей <br>и&nbsp;аксессуаров
                    .service-list-item.item-08
                        a.service-list-link(href="service-page.html")
                            .service-list-title Сервисный центр
                            .service-list-subtitle организация ремонта <br>по гарантии
                    .service-list-item.item-09
                        a.service-list-link(href="service-page.html")
                            .service-list-title Проверка техники
                            .service-list-subtitle проверка качества <br>и оформление гарантии
                    .service-list-item.item-10
                        a.service-list-link(href="service-page.html")
                            .service-list-title Установка
                            .service-list-subtitle кухни, двери, окна
                    .service-list-item.item-11
                        a.service-list-link(href="service-page.html")
                            .service-list-title Обслуживание корпоративных клиентов
                            .service-list-subtitle быстрое и удобное <br>оформление
        //Футер
        include modules/_footer