extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-catalog
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-bg.category-bg(style="background-image: url(images/bg-category.png)")
                .inner-title
                    h1 Стройматериалы
            .page-content
                include modules/_search
                .catalog-list.subcatalog-list
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-01.png")
                                .catalog-list__item-label Сухие смеси,<br>грунтовки
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-02.png")
                                .catalog-list__item-label Строительство стен<br>и перегородок
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-03.png")
                                .catalog-list__item-label Изоляционные<br>материалы
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-04.png")
                                .catalog-list__item-label Гидроизоляция
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-05.png")
                                .catalog-list__item-label Кровля<br>и водосток
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-06.png")
                                .catalog-list__item-label Внешняя<br>канализация
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-07.png")
                                .catalog-list__item-label Сайдинг<br>и фасадные панели
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-08.png")
                                .catalog-list__item-label Декоративный<br>камень
                    .catalog-row.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-09.png")
                                .catalog-list__item-label Подвесные потолки<br>и аксессуары
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-10.png")
                                .catalog-list__item-label Камины
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-11.png")
                                .catalog-list__item-label Металлопрокат
                        .col-1-4
                            a.catalog-list__item.text-center.last(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-12.png")
                                .catalog-list__item-label Плитка тротуарная<br>и дренажные каналы
                    .catalog-row.last.clearfix
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-13.png")
                                .catalog-list__item-label Потолки подвесные<br>и аксессуары
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-14.png")
                                .catalog-list__item-label Строительная<br>химия
                        .col-1-4
                            a.catalog-list__item.text-center(href="subsubcatalog.html")
                                .catalog-list__item-icon
                                    img(src="images/img-subcategory-15.png")
                                .catalog-list__item-label Строительное<br>оборудование
        //Футер
        include modules/_footer