extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-catalog
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-bg.category-bg(style="background-image: url(images/bg-category.png)")
                .inner-title
                    h1 Сухие смеси, грунтовки
            .page-content
                include modules/_search
                .catalog-list
                    .catalog-promo
                        .catalog-promo-box.clearfix
                            .btn-gethelp
                                span Помощь в подборе<br>душевых ширм и кабин
                            img(src="images/icon-promo-question.png")
                            span Не знаете,<br>что нужно?
                    ul.catalog-nav
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Штукатурки
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Шпаклевки
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Сухие смеси для устройства полов
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Монтажные и кладочные смеси
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Грунтовки
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Сыпучие материалы (цемент, песок, керамзит)
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Красители для бетонных смесей
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Добавки для строительных растворов
                        li.catalog-nav__item
                            a.catalog-nav__link(href="catalog-list.html") Клеи для плитки и камня

        //Футер
        include modules/_footer