extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-vacancy
        //Контейнер контента
        .app-main
            .vacancy-header
                .index-logo
                    a(href="index.html")
                        img(src="images/logo-index.png")
                img.img-vacancy.img-responsive(src="images/img-vacancy-team.jpg")
            .page-content
                .page-vacancy
                    //форма поиска вакансии
                    include modules/_vacancy-form
                    .vacancy-list
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                        include modules/_vacancy-item
                    .vacancy-loadmore
                        a.btn-showvacancy(href="vacancy-all.html") Раскрыть все вакансии
        //Футер
        include modules/_footer