extends layouts/_default
block content
    //Оболочка
    .app-wrap.layout-category
        //Контейнер контента
        .app-main
            .inner-header
                .inner-logo
                    a(href="index.html")
                        img(src="images/logo-inner.png")
                .inner-title
                    h1 Вакансии
            .page-content
                include modules/_category-sort
                //TODO фильтры вакансий
                .vacancy-list
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                    include modules/_vacancy-item
                include modules/_pagination

        //Футер
        include modules/_footer