doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
head
  meta(charset="utf-8")
  title Index
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="/favicon.ico")

  link(rel="stylesheet", href="/styles/main.css")
  
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/manifest.json")
  meta(name="theme-color", content="#ffffff")

body

  block content

  script(src="/scripts/jquery.min.js")
  script(src="/scripts/bootstrap.min.js")
  script(src="/scripts/slick.min.js")
  script(src="/scripts/lightbox.js")
  script(src="/scripts/select2.full.min.js")
  script(src="/scripts/main.js")

| </html>
